  <%- include("../partials/head.ejs") %>
  <body>
      <%- include("../partials/navbar.ejs") %>
    </nav>
    <section class="padding height about">
      <h2>About us</h2>
      <div class="about-container">
        <div class="about-text">
          <h1>Who are we</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque qui dolor delectus consequuntur! Tempore accusamus vel, aspernatur esse ducimus, sit cum voluptates perspiciatis eius, cupiditate quis! Quisquam at nisi asperiores, sunt animi expedita, repudiandae quo quas ipsam libero iure nulla. Labore obcaecati animi voluptatibus ea, eligendi suscipit velit possimus asperiores ratione cumque eos accusantium non tempore mollitia corporis! Nulla blanditiis eveniet similique quidem mollitia voluptate et illo dolores enim! Ut tenetur quaerat, molestiae obcaecati laborum ratione itaque nostrum atque nihil hic, vero aliquam ab in? Cumque beatae sapiente reprehenderit ratione sequi in fugit debitis harum. Quaerat non quisquam velit rem.</p>
        </div>
        <div class="about-image"><img src="../images/london.jpg" alt=""></div>
      </div>
    </section>
      <%- include("../partials/footer.ejs") %>
  </body>
</html>
