  <%- include("../partials/head.ejs") %>
  <body>
  <%- include("../partials/navbar.ejs") %>
    <header class="main padding height">
      <div class="text padding">
        <h1>
          Goodbye junk food. <br />
          Hello super healthy meals.
        </h1>
        <a href="/menu" class="solid header-button">I'm hungry</a>
        <a href="/menu" class="ghost header-button">Show me more</a>
      </div>
    </header>
  <%- include("../partials/footer.ejs") %>
  </body>
</html>
